Repository Attica-org/athens-backend, pull requests merged in 2024-08, with the labels that each got.

#148 채팅 전송 websocket 테스트 코드 작성
  src/main/java/com/attica/athens/domain/agora/exception/ObserverException.java
  src/main/java/com/attica/athens/domain/agoraMember/application/AgoraMemberService.java
  src/main/java/com/attica/athens/domain/chat/api/ChatAuthController.java
  src/main/java/com/attica/athens/domain/common/aspect/RequestLogAspect.java
  src/main/java/com/attica/athens/global/handler/WebSocketEventHandler.java
  src/main/java/com/attica/athens/global/handler/WebSocketExceptionHandler.java
  src/main/resources/logback-prod.xml
  src/test/java/com/attica/athens/config/TestSecurityConfig.java
  src/test/java/com/attica/athens/domain/agora/AgoraAuthApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/chat/ChatOpenApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/chat/ChatWebSocketApiIntegrationTest.java
  src/test/java/com/attica/athens/support/IntegrationTestSupport.java
  src/test/java/com/attica/athens/support/WebSocketIntegrationTestSupport.java
  src/test/resources/sql/send-valid-chat.sql
Labels: test

#145 아고라투표/임시유저/리프레시토큰 도메인,통합테스트 추가
  src/main/java/com/attica/athens/domain/agora/application/AgoraService.java
  src/main/java/com/attica/athens/domain/agora/dao/AgoraQueryRepositoryImpl.java
  src/main/java/com/attica/athens/domain/agora/domain/Agora.java
  src/main/java/com/attica/athens/domain/agora/vote/application/AgoraVoteService.java
  src/main/java/com/attica/athens/global/auth/application/AuthService.java
  src/main/java/com/attica/athens/global/auth/dao/RefreshTokenRepository.java
  src/main/java/com/attica/athens/global/auth/domain/RefreshToken.java
  src/main/java/com/attica/athens/global/auth/jwt/JwtUtils.java
  src/main/java/com/attica/athens/global/auth/scheduler/TokenCleanupScheduler.java
  src/test/java/com/attica/athens/domain/agora/AgoraAuthApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/agora/AgoraOpenApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/agora/domain/AgoraTest.java
  src/test/java/com/attica/athens/domain/member/TempMemberApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/token/RefreshTokenApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/token/domain/RefreshTokenTest.java
  src/test/java/com/attica/athens/domain/vote/AgoraVoteAuthApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/vote/domain/AgoraVoteTest.java
  src/test/resources/sql/agora-endTime-update.sql
  src/test/resources/sql/agora-id-delete.sql
  src/test/resources/sql/agora-status-closed.sql
  src/test/resources/sql/agora-vote-update.sql
  src/test/resources/sql/agoraMember-isOpinionVoted-true.sql
  src/test/resources/sql/get-agora.sql
  src/test/resources/sql/get-base-member.sql
  src/test/resources/sql/get-category.sql
  src/test/resources/sql/refreshToken-expiredTime-update.sql
Labels: refactor, test

#150 메타정보 조회 websocket 테스트 코드 작성
  src/test/java/com/attica/athens/domain/agora/AgoraWebSocketApiintegerationTest.java
  src/test/java/com/attica/athens/domain/chat/ChatOpenApiIntegrationTest.java
  src/test/java/com/attica/athens/domain/chat/ChatWebSocketApiIntegrationTest.java
  src/test/java/com/attica/athens/support/WebSocketIntegrationTestSupport.java
Labels: refactor, test

#154 인기 아고라 조회 API 추가
  src/main/java/com/attica/athens/domain/agora/api/AgoraOpenController.java
  src/main/java/com/attica/athens/domain/agora/application/AgoraService.java
  src/main/java/com/attica/athens/domain/agora/application/TrendService.java
  src/main/java/com/attica/athens/domain/agora/dao/AgoraQueryRepository.java
  src/main/java/com/attica/athens/domain/agora/dao/AgoraQueryRepositoryImpl.java
  src/main/java/com/attica/athens/domain/agora/dao/PopularRepository.java
  src/main/java/com/attica/athens/domain/agora/domain/Trend.java
  src/main/java/com/attica/athens/domain/agora/domain/TrendWeight.java
  src/main/java/com/attica/athens/domain/agora/dto/AgoraMetrics.java
  src/test/java/com/attica/athens/domain/agora/application/TrendServiceTest.java
Labels: 🟡 Priority: Medium, 🔛 Status: In Progress, ✨ Type: Enhancement, feature, test

#157 애플리케이션 무중단 배포 스크립트 추가
  .github/workflows/backend-cd.yaml
  .github/workflows/backend-ci.yaml
  Dockerfile
  Jenkinsfile
  deploy-prod.sh
  docker-compose.blue.yml
  docker-compose.green.yml
  src/main/java/com/attica/athens/domain/sample/HealthCheckController.java
Labels: 🟡 Priority: Medium, 🔛 Status: In Progress, ✨ Type: Enhancement, feature
